@model IEnumerable<mowlds.github.io.Models.DriverResultExtra>

@{
    ViewData["Title"] = "Qualifying";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}
<div class="raceresultsdiv">
    <table class="raceresults">
        <caption style="font-weight: bolder ;">QUALIFYING</caption>
        <thead>
            @* creates the headers from column names in model. We can put in custom names if needs be. *@
            <tr>
                <th>
                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Driver1.Name)
                </th>
                <th>
                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta)
                </th>
                <th>
                    Tyres
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(grandprix => grandprix.SessionType == 2))
            {
                @* For every entry in the model where sessiontype is 2, the data below is displayed *@
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalPosition)
                    </td>
                    <td>
                    @{string colour = string.IsNullOrEmpty(item.Driver1.Colour) ? string.Empty : item.Driver1.Colour.Trim();
                    string fontstroke = string.IsNullOrEmpty(item.Driver1.Fontstroke) ? string.Empty : item.Driver1.Fontstroke.Trim();
                    }
                    <span style="font-weight: bolder; font-style: italic; font-family: 'f1numbers'; font-size: 1rem; color:@colour;-webkit-text-stroke: 0.2px @fontstroke;"> @Html.DisplayFor(modelItem => item.Driver1.DriverNumber).ToString().PadLeft(2)</span> &nbsp;
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Driver1.Name)
                    </td>
                    <td style="text-align:center;">
                         @if (item.Race1.Season1.DriverTeam.Any())
                        {
                            var hasTeam = item.Race1.Season1.DriverTeam.Where(dt => dt.Driver == item.Driver).Any();
                            if (hasTeam)
                            {
                                <img class="logogrid" src="@Html.DisplayFor(modelitem => item.Race1.Season1.DriverTeam.Where(dt => dt.Driver == item.Driver).First().Team1.TeamLogo)">
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Delta)
                    </td>
                    <td>
                        <table id="nolayout">
                            <tr>
                                
                                    @if (!string.IsNullOrEmpty(item.Tyre1))
                                    
                                    {
                                        <td>
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre1.Trim()">
                                            </div>
                                        </div>
                                        </td>
                                    }
                                
                                
                                    @if (!string.IsNullOrEmpty(item.Tyre2))
                                    {
                                        <td>
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre2.Trim()">
                                            </div>
                                        </div>
                                        </td>
                                    }
                                
                                
                                    @if (!string.IsNullOrEmpty(item.Tyre3))
                                    {
                                        <td>
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre3.Trim()">
                                            </div>
                                        </div>
                                        </td>
                                    }
                                
                                
                                    @if (!string.IsNullOrEmpty(item.Tyre4))
                                    {
                                        <td>
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre4.Trim()">
                                            </div>
                                        </div>
                                        </td>
                                    }
                                
                                
                                    @if (!string.IsNullOrEmpty(item.Tyre5))
                                    {
                                        <td>
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre5.Trim()">
                                            </div>
                                        </div>
                                        </td>

                                    }
                                
                                
                                    @if (!string.IsNullOrEmpty(item.Tyre6))
                                    {
                                        <td>
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre6.Trim()">
                                            </div>
                                        </div>
                                        </td>
                                    }
                                
                                
                                    @if (!string.IsNullOrEmpty(item.Tyre7))
                                    {
                                        <td>
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre7.Trim()">
                                            </div>
                                        </div>
                                        </td>
                                    }
                                
                                
                                    @if (!string.IsNullOrEmpty(item.Tyre8))
                                    {
                                        <td>
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre8.Trim()">
                                            </div>
                                        </div>
                                        </td>
                                    }
                                
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

