@model IEnumerable<mowlds.github.io.Models.DriverResultExtra>

@{
    ViewData["Title"] = "Race";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<div class="raceresultsdiv">
    <table class="raceresults">
        <caption style="font-weight: bolder ;">RACE</caption>
        <thead>
            <tr>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Driver1.Name)
                </th>
                <th>

                </th>
                <th>
                    Points
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    Lap
                </th>
                <th>
                    Pens
                </th>
                <th style="padding-left:1.5pc;">
                    Tyres
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(grandprix => grandprix.SessionType == 3))
            {
                var style = String.Empty;
                if (item.HasFastestLap)
                {
                    style = "background-color: #79149aed";
                }
            <tr style="@style">

                <td>
                    @Html.DisplayFor(modelItem => item.FinalPosition)
                </td>
                <td>
                    @if (item.PositionsGained > 0)
                    {
                        @:<span style="color: green;">
                        <text>&#8593;</text>@Html.DisplayFor(modelitem => item.PositionsGained);
                        @:</span>
                    }
                    else if (item.PositionsGained == 0)
                    {
                        <text>&#61;</text>
                    }
                    else
                    {
                        @:<span style="color: red;">
                        <text>&#8595;</text>string gained = (item.PositionsGained * -1).ToString();
                        @gained;
                        @:</span>
                    }
                </td>
                <td>
                    @{string colour = string.IsNullOrEmpty(item.Driver1.Colour) ? string.Empty : item.Driver1.Colour.Trim();
                    }
                    <span style="font-weight: bolder; font-style: italic; font-family: 'f1numbers'; color:@colour"> @Html.DisplayFor(modelItem => item.Driver1.DriverNumber).ToString().PadLeft(2)</span> &nbsp;
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Driver1.Name)
                </td>
                <td>
                    @if (item.Race1.Season1.DriverTeam.Any())
                    {
                        var hasTeam = item.Race1.Season1.DriverTeam.Where(dt => dt.Driver == item.Driver).Any();
                        if (hasTeam)
                        {
                            <img class="logogrid" src="@Html.DisplayFor(modelitem => item.Race1.Season1.DriverTeam.Where(dt => dt.Driver == item.Driver).First().Team1.TeamLogo)">
                        }
                    }
                </td>
                <td>
                    <div class="result-driver-info">
                        @Html.DisplayFor(modelItem => item.RacePoints)
                    </div>
                </td>
                <td>
                    @if (String.IsNullOrWhiteSpace(item.Time))
                    {
                        @Html.DisplayFor(modelItem => item.Delta)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Time)
                    }
                </td>
                <td>
                    @if ((bool)item.HasFastestLap)
                    {
                        @Html.DisplayFor(modelItem => item.BestLap)
                    }
                </td>
                <td>
                    @if ((bool)(item.HasTimePenalty))
                    {
                        @String.Format("+{0}s", item.TimePenaltyDuration)
                    }
                </td>
                <td>
                    <table id="nolayout">
                        <tr>

                            @if (!string.IsNullOrEmpty(item.Tyre1))

                            {
                                <td>
                                    <div class="result-driver-info result-driver-tyres">
                                        <div class="result-driver-tyres-@item.Tyre1.Trim()">
                                        </div>
                                    </div>
                                </td>
                            }


                            @if (!string.IsNullOrEmpty(item.Tyre2))
                            {
                                <td>
                                    <div class="result-driver-info result-driver-tyres">
                                        <div class="result-driver-tyres-@item.Tyre2.Trim()">
                                        </div>
                                    </div>
                                </td>
                            }


                            @if (!string.IsNullOrEmpty(item.Tyre3))
                            {
                                <td>
                                    <div class="result-driver-info result-driver-tyres">
                                        <div class="result-driver-tyres-@item.Tyre3.Trim()">
                                        </div>
                                    </div>
                                </td>
                            }


                            @if (!string.IsNullOrEmpty(item.Tyre4))
                            {
                                <td>
                                    <div class="result-driver-info result-driver-tyres">
                                        <div class="result-driver-tyres-@item.Tyre4.Trim()">
                                        </div>
                                    </div>
                                </td>
                            }


                            @if (!string.IsNullOrEmpty(item.Tyre5))
                            {
                                <td>
                                    <div class="result-driver-info result-driver-tyres">
                                        <div class="result-driver-tyres-@item.Tyre5.Trim()">
                                        </div>
                                    </div>
                                </td>

                            }


                            @if (!string.IsNullOrEmpty(item.Tyre6))
                            {
                                <td>
                                    <div class="result-driver-info result-driver-tyres">
                                        <div class="result-driver-tyres-@item.Tyre6.Trim()">
                                        </div>
                                    </div>
                                </td>
                            }


                            @if (!string.IsNullOrEmpty(item.Tyre7))
                            {
                                <td>
                                    <div class="result-driver-info result-driver-tyres">
                                        <div class="result-driver-tyres-@item.Tyre7.Trim()">
                                        </div>
                                    </div>
                                </td>
                            }


                            @if (!string.IsNullOrEmpty(item.Tyre8))
                            {
                                <td>
                                    <div class="result-driver-info result-driver-tyres">
                                        <div class="result-driver-tyres-@item.Tyre8.Trim()">
                                        </div>
                                    </div>
                                </td>
                            }

                        </tr>
                    </table>
                </td>

            </tr>
                
            }
        </tbody>
    </table>
</div>

