
@model IEnumerable<mowlds.github.io.Models.SupergridViewModel>

<div class="supergrid">
    <table id="supergrid" class="drivergrid">
        <caption style="font-weight: bolder ;">DRIVERS' CHAMPIONSHIP</caption>
        <colgroup>
            <col span="1">
            <col span="1" class="drivername">
            <col span="1">
            <col span="1" class="points">
            <col span="1" class="diff">
              @{string count = Model.First().races.Count().ToString(); }
            <col span="@count" class="races">
        </colgroup>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            @foreach (var item in Model.First().races.OrderBy(r => r.RaceNumber))
            {
                <th scope="col"><img class="icongrid" src="~/@Html.DisplayFor(modelItem => item.Track1.Flag)"></th>
            }
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Driver</td>
            <td></td>
            <td>Points</td>
            <td>Diff</td>
            @foreach (var item in Model.First().races.OrderBy(r => r.RaceNumber))
            {
                <td>@Html.DisplayFor(modelItem => item.Track1.Abbreviation)</td>
            }
        </tr>
        @foreach (var supergrid in Model)
        {
            if (supergrid.driverResults.Any())
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => supergrid.currentTablePosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => supergrid.driver.Name)
        </td>
        <td>
            @if (supergrid.season.DriverTeam.Any())
            {
                var hasTeam = supergrid.season.DriverTeam.Where(dt => dt.Driver == supergrid.driver.ID).Any();
                if (hasTeam)
                {
                    <img class="logogrid" src="@Html.DisplayFor(modelitem => supergrid.season.DriverTeam.Where(dt => dt.Driver == supergrid.driver.ID).First().Team1.TeamLogo)">
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => supergrid.totalPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => supergrid.diffPoints)
        </td>
        @{
            int previousRaceID = 0;
            foreach (var race in supergrid.races)
            {
                bool hasSprint = false;
                if (previousRaceID != race.ID)
                {
                    previousRaceID = race.ID;
                }
                else
                {
                    hasSprint = true;
                }
                bool hasvalue = false;
                bool hasResults = supergrid.driverResults.Where(r => r.Race == race.ID).Any();
                if (!hasSprint)
                {
                    foreach (var dr in supergrid.driverResults.Where(r => r.Race == race.ID))
                    {
                        string result = dr.FinalPosition.ToString();
                        if (dr.HasDNF)
                        {
                            result = "DNF";
                        }
                        if (dr.HasDSQ)
                        {
                            result = "DSQ";
                        }
                        if (dr.Delta != null && dr.Delta.Trim() == "DNS")
                        {
                            result = "DNS";
                        }
                        if (dr.Delta != null && dr.Delta.Trim() == "NC")
                        {
                            result = "NC";
                        }
                        if (dr.SessionType == 4)
                        {
                            if (dr.FinalPosition < 9)
                            {
                                string postionLink = String.Format("../../images/numbers/SPRINT{0}{1}.png", result, dr.HasFastestLap ? "fl" : "");
                                <td><img class="icongrid" src=@postionLink></td>
                                hasvalue = true;
                            }
                            else
                            {
                                <td>&nbsp;</td>
                                hasvalue = false;
                            }
                        }
                        else
                        {
                            string postionLink = String.Format("../../images/numbers/{0}{1}.png", result, dr.HasFastestLap ? "fl" : "");
                            <td><img class="icongrid" src=@postionLink></td>
                            hasvalue = true;
                        }

                    }
                    if (!hasvalue)
                    {
                        <td>&nbsp;</td>
                    }
                }
                else if (!hasResults)
                {
                    <td>&nbsp;</td>
                }
            }
        }
    </tr>
            }
        }
    </table>
</div>
<!--
    <div>DIV TO SHOW COMMENT WHERE DBO.DRIVERSEASON MATCHES SEASON ID>
        --> 