

@model IEnumerable<mowlds.github.io.Models.SupergridViewModel>

<div class="supergrid">
    <table id="supergrid" class="drivergrid">
        <caption style="font-weight: bolder ;">DRIVERS' CHAMPIONSHIP</caption>
        <colgroup>
            <col span="1" style="width:30px;">
            <col span="1" class="drivername">
            <col span="1">
            <col span="1" class="points">
            <col span="1" class="diff">
        </colgroup>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th>Driver</th>
            <th></th>
            <th>Points</th>
            <th>Diff</th>
        </tr>
        @foreach (var supergrid in Model)
        {
            if (supergrid.driverResults.Any())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => supergrid.currentTablePosition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => supergrid.driver.Name)
                    </td>
                    <td>
                        @if (supergrid.season.DriverTeam.Any())
                        {
                            var hasTeam = supergrid.season.DriverTeam.Where(dt => dt.Driver == supergrid.driver.ID).Any();
                            if (hasTeam)
                            {
                                <img class="logogrid" src="@Html.DisplayFor(modelitem => supergrid.season.DriverTeam.Where(dt => dt.Driver == supergrid.driver.ID).First().Team1.TeamLogo)">
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => supergrid.totalPoints)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => supergrid.diffPoints)
                    </td>
                </tr>
            }
        }
    </table>
</div>
<!--
    <div>DIV TO SHOW COMMENT WHERE DBO.DRIVERSEASON MATCHES SEASON ID>
        -->
 