@model mowlds.github.io.Models.DriverDisplayModel
@{
    ViewBag.Title = "Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(function(){
        $("#StatType").change(function(e){
         var val=$(this).val();
            $("#StatsTable").load("/Stats/DriverStats?" + "driver=" +@Model.Driver.ID + "&StatType=" + val);
       });
    });
</script>

<div class="wikiparent">
    <div class="row">
        <div class="column side">
            <img class="bio" src="@Html.DisplayFor(modelitem => Model.Driver.DriverImage)" height="100px">
            <div class="quote">"@Html.DisplayFor(driver => Model.Driver.DriverQuote)"</div>
            <div class="biotable">
                <table id="biotable">
                    <caption style="font-weight: bolder ;">@Html.DisplayFor(driver => Model.Driver.Name)</caption>
                    <th colspan="2" class="infobox-header" style="background-color: #bab5b5;text-align: center;">SRL World Championship career</th>
                    <tr>
                        <th>First Race</th>
                        <td>@Html.DisplayFor(driverItem => Model.FirstRace.Season1.Year) - Season @Html.DisplayFor(driverItem => Model.FirstRace.Season1.Number) Race @Html.DisplayFor(driverItem => Model.FirstRace.RaceNumber)</br>@Html.DisplayFor(driverItem => Model.FirstRace.RaceName)</td>
                    </tr>
                    <tr>
                        <th>Races</th>
                        <td>
                            @Html.DisplayFor(driverItem => Model.TotalRaces)
                        </td>
                    </tr>
                    <tr>
                        <th>Wins</th>
                        <td>
                            @Html.DisplayFor(driverItem => Model.Wins)
                        </td>
                    </tr>
                    <tr>
                        <th>Pole Positions</th>
                        <td>
                            @Html.DisplayFor(driverItem => Model.Poles)
                        </td>
                    </tr>
                    <tr>
                        <th>Fastest Laps</th>
                        <td>
                            @Html.DisplayFor(driverItem => Model.Fls)
                        </td>
                    </tr>
                    <tr>
                        <th>DotD</th>
                        <td>
                            @Html.DisplayFor(driverItem => Model.Dotds)
                        </td>
                    </tr>
                    <tr>
                        <th>Podiums</th>
                        <td>
                            @Html.DisplayFor(driverItem => Model.Podiums)
                        </td>
                    </tr>
                    <tr>
                        <th>DNFs</th>
                        <td>
                            @Html.DisplayFor(driverItem => Model.DNFs)
                        </td>
                    </tr>
                    <tr>
                        <th>Points</th>
                        <td>
                            @Html.DisplayFor(driverItem => Model.TotalPoints)
                        </td>
                    </tr>
                </table>
            </div>
           <!-- <div class="trumps">
                    <img class="trumpsimage" src="../images/toptrumps.png">
        <table class="trumpstable">

Known for: @Html.DisplayFor(driverItem => Model.Driver.KnownFor)

            <tr>
                <th>BOX OFFICE RATING</th>
                <th>@Html.DisplayFor(driverItem => Model.Driver.BoxOffice)</th>
            </tr>
            <tr>
              <td>PACE</td>
              <th>@Html.DisplayFor(driverItem => Model.Driver.Pace)</th>
          </tr>
          <tr>
              <td>STRATEGY</td>
              <th>@Html.DisplayFor(driverItem => Model.Driver.Strategy)</th>
          </tr>
          <tr>
              <td>SNAKEYNESS</td>
              <th>@Html.DisplayFor(driverItem => Model.Driver.Snakeyness)</th>
          </tr>
          <tr>
              <td>LUCK</td>
              <th>@Html.DisplayFor(driverItem => Model.Driver.Luck)</th>
          </tr>
          <tr>
            <td>CHAT</td>
            <th>@Html.DisplayFor(driverItem => Model.Driver.Chat)</th>
        </tr>
          <tr>
            <td>HEADSGONE</td>
            <th>@Html.DisplayFor(driverItem => Model.Driver.Headsgone)</th>
        </tr>
            </table>
        </div>-->
        </div>
        <div class="column middle">
            <div class="bioquote">@Html.Raw(Model.Driver.Bio)</div></br>
        </div>
    </div>

    <div id="championshipTable">
        @* CDB: This loads the overview info from the provided model*@
        @{Html.RenderAction("DriverCareerResults", "Driver", new { driverID = Model.Driver.ID });
        }
    </div>
    <div id="championshipTable">
        @* CDB: This loads the overview info from the provided model*@
        @{Html.RenderAction("DriverSupergridQualyPartial", "Driver", new { driverID = Model.Driver.ID });
        }
    </div>
    <div class="statfilter">
        Performance Filter: &nbsp;
        @Html.DropDownList("StatType", new List<SelectListItem>
        {
            new SelectListItem { Text = "All", Value = "0", Selected = true },
            new SelectListItem { Text = "Equal Performance", Value = "1" },
            new SelectListItem { Text = "Real Performance", Value = "2" }
        })
    </div>

    <div id="StatsTable">
        @* CDB: This loads the overview info from the provided model*@
        @{Html.RenderAction("DriverStats", "Stats", new { driver = Model.Driver.ID, StatType = 0 });
        }
    </div>
</div>
