@model IEnumerable<mowlds.github.io.Models.ConstructorsModel>
@using mowlds.github.io.Models;
@{
    ViewBag.Title = "Season";
}
@if (Model.Any())
{ 
    <div class="constable">
<table id="champtable">
    <caption style="font-weight: bolder ;">THE SAUCERLESS CYLINDRICAL CUP CONSTRUCTORS CHAMPIONSHIP</caption>
    <tr>
        <th>Team</th>
        <th>Driver 1</th>
        <th>Driver 2</th>
        <th>Points</th>
        <th>Wins</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        <img style="height: 75px;" src="@Html.DisplayFor(modelitem => item.team.TeamLogo)">
    </td>
    
    <td>@Html.DisplayFor(modelItem => item.driver1.Name)</td>
    @if (item.driver2 != null)
    { 
    <td>@Html.DisplayFor(modelItem => item.driver2.Name)</td>
    }
                    else
                    {
                        <td>&nbsp;</td>
                    }
    <td>@Html.DisplayFor(modelItem => item.totalPoints)</td>
    <td>@Html.DisplayFor(modelItem => item.totalWins)</td>
</tr>
    }
    </table>
    </div>
}