@model IEnumerable<mowlds.github.io.DAL.Season>

@{
    ViewData["Title"] = "Seasons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table id="calendar">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                Real Performance
            </th>
            <th>
                One Shot Qualifying
            </th>
            <th>
                # of races
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    Season @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isrealperformance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isoneshotqualy)
                </td>
                <td>
                    @{string linkvalue = string.Format("Season/season?season={0}", item.ID.ToString());
                    }

                    @{string parameterValue = item.Race.Count().ToString();
                    }
                    <a href=@linkvalue>@parameterValue races</a>
                </td>
            </tr>
        }
    </tbody>
</table>