
@model IEnumerable<mowlds.github.io.DAL.Race>

@{
    ViewData["Title"] = "List of SRL Races";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="overflow">
<table id="list">
    <caption>List Of Races</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                Race
            </th>
            <th>

            </th>
            <th>
                Track
            </th>
            <th class="collapse">
                Grand Prix
            </th>
            <th>
                Date
            </th>
            <th class="collapse">
                @Html.DisplayNameFor(model => model.Laps)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Season1.GameVersion) - Season @Html.DisplayFor(modelItem => item.Season1.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RaceNumber)
                </td>
                <td>
                        <img class="icongrid" src="~/@Html.DisplayFor(modelItem => item.Track1.Flag)">
                    </td>
                <td class="collapse">
                    @Html.DisplayFor(modelItem => item.Track1.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RaceName)
                </td>
                <td class="collapse">
                    @{string racedate = item.RaceDate.Value.ToString("dd-MM-yyyy");
                    }
                    @racedate
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Laps)
                </td>
                <td>
                    @{string parameterValue = string.Format("DriverResult?race={0}", item.ID.ToString());
                    }
                    <a href=@parameterValue>View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>