@model IEnumerable<mowlds.github.io.DAL.DriverResult>

@{
    ViewData["Title"] = "Qualifying";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}
<div class="raceresults">
    <table id="raceresults">
        <caption style="font-weight: bolder ;">QUALIFYING RESULTS</caption>
        <thead>
            @* creates the headers from column names in model. We can put in custom names if needs be. *@
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FinalPosition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Driver1.Name)
                </th>
                <th>
                    Team
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta)
                </th>
                <th>
                    Tyres
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(grandprix => grandprix.SessionType == 2))
            {
                @* For every entry in the model where sessiontype is 2, the data below is displayed *@
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalPosition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Driver1.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Driver1.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Delta)
                    </td>
                    <td>
                        <table id="nolayout">
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Tyre1))
                                    {
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre1.Trim()">
                                            </div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Tyre2))
                                    {
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre2.Trim()">
                                            </div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Tyre3))
                                    {
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre3.Trim()">
                                            </div>
                                        </div>

                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Tyre4))
                                    {
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre4.Trim()">
                                            </div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Tyre5))
                                    {
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre5.Trim()">
                                            </div>
                                        </div>

                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Tyre6))
                                    {
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre6.Trim()">
                                            </div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Tyre7))
                                    {
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre7.Trim()">
                                            </div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Tyre8))
                                    {
                                        <div class="result-driver-info result-driver-tyres">
                                            <div class="result-driver-tyres-@item.Tyre8.Trim()">
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

