@model IEnumerable<mowlds.github.io.DAL.DriverResult>

@{
    ViewData["Title"] = "RaceOverview";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}


<div class="wikiparenrace">
    <div class="rowrace">
        <div class="column">
            <div class="tracktablerace">
                <img src="~/images/SRL.png" height="100px">
                <table id="tracktablerace">
                    <caption style="font-weight: bolder ;">F1 @Html.DisplayFor(raceItem => Model.First().Race1.Season1.Year) Season @Html.DisplayFor(raceItem => Model.First().Race1.Season1.Number),
        Race @Html.DisplayFor(raceItem => Model.First().Race1.RaceNumber)</p>@Html.DisplayFor(raceItem => Model.First().Race1.RaceName)</br> <span style="font-size:16px"> @{string parameterValue = Model.First().Race1.RaceDate.Value.ToString("dd-MM-yyyy");</span>
    }
    @Html.DisplayFor(raceItem => parameterValue)</caption>
                    <th colspan="2" class="infobox-header" style="background-color: #a69898;text-align: center;">@Html.DisplayFor(raceItem => Model.First().Race1.Track1.Name), @Html.DisplayFor(raceItem => Model.First().Race1.Track1.City), @Html.DisplayFor(raceItem => Model.First().Race1.Track1.Country)</th>
                    <tbody>
                        <tr>
                            <th>Race Winner</th>
                            <td>
                                @Html.DisplayFor(raceItem => Model.Where(r => r.SessionType == 3 && r.FinalPosition == 1).First().Driver1.Name)
                            </td>
                        </tr>
                        <tr>
                            <th>Pole Position</th>
                            <td>
                                @Html.DisplayFor(raceItem => Model.Where(r => r.SessionType == 2 && r.FinalPosition == 1).First().Driver1.Name) -
                                @Html.DisplayFor(raceItem => Model.Where(r => r.SessionType == 2 && r.FinalPosition == 1).First().Time)
                            </td>
                        </tr>
                        <tr>
                            <th>Fastest Lap</th>
                            <td>
                               @Html.DisplayFor(raceItem => Model.Where(r => r.SessionType == 3 && r.HasFastestLap).First().Driver1.Name) -
            @Html.DisplayFor(raceItem => Model.Where(r => r.SessionType == 3 && r.HasFastestLap).First().BestLap)
                            </td>
                        </tr>
                        <tr>
                            <th>Driver Of The Day</th>
                            <td>
                                @Html.DisplayFor(raceItem => Model.Where(r => r.SessionType == 3 && r.HasDriverOfTheDay).FirstOrDefault().Driver1.Name)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>
        <div class="column">
        <h2>Rob's Review</h2>
        <br />
        @Html.Raw(Model.First().Race1.Review)
        </div>
    </div>
</div>


<div class="rowrace">
    <div class="column">
        <div class="youtube">
        <iframe width="500" height="306" src="@Html.DisplayFor(modelitem => Model.First().Race1.Highlights)" title="Highlights" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
</div>


