@model mowlds.github.io.Models.StatsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wikiparent">
    <div class="bigstatfilter">
<h2>"Stats are like a miniskirt, and all that" - Tony-Y</h2>

<script>
    $(function(){
        $("#ShowStats").click(function(e){
            var driver = $("#Drivers").val();
            var track = $("#Tracks").val();
            var statType = $("#StatType").val();
            var gameversion = $("#GameVersion").val();
            var session = $("#Sessions").val();
            var weather = $("#Weather").val();
            var sortOrder = $("#sortOrder").val();

            if (!driver) { driver = 0; }
            if (!track) { track = 0; }
            if (!gameversion) { gameversion = 0; }
            if (!session) { session = 0; }


            $("#stats").load("/Stats/AllStats?" + "driver=" + driver + "&track=" +track + "&StatType=" + statType + "&version=" + gameversion + "&session=" +session + "&weather=" + weather  + "&sortOrder=" + sortOrder);
       });
    });
</script>

<table class="bigstatsfiltertable">
    <tr>

        <td>
            @Html.DropDownListFor(d => d.Drivers, new SelectList(Model.Drivers, "ID", "Name"), "All Drivers")
        </td>
        <td>
            @Html.DropDownListFor(t => t.Tracks, new SelectList(Model.Tracks, "ID", "Name"), "All Tracks")
        </td>
        <td>
            @Html.DropDownList("StatType", new List<SelectListItem>
           {
               new SelectListItem { Text = "All Performance", Value = "0", Selected = true },
               new SelectListItem { Text = "Equal Performance", Value = "1" },
               new SelectListItem { Text = "Real Performance", Value = "2" }
           })
        </td>
        <td>
            @Html.DropDownListFor(t => t.GameVersion, new SelectList(Model.GameVersion, "version", "version"), "All versions")
        </td>
        <td>
            @Html.DropDownListFor(t => t.Sessions, new SelectList(Model.Sessions, "ID", "SessionType"), "All Sessions")
        </td>
        <td>
            @Html.DropDownList("Weather", new List<SelectListItem>
           {
               new SelectListItem { Text = "All weather", Value = "0", Selected = true },
               new SelectListItem { Text = "Dry", Value = "1" },
               new SelectListItem { Text = "Changable", Value = "2" },
               new SelectListItem { Text = "Wet", Value = "3" }
           })
        </td>
        <td>
            @Html.DropDownList("sortOrder", new List<SelectListItem>
           {
               new SelectListItem { Text = "Racewins", Value = "RaceWins", Selected = true },
               new SelectListItem { Text = "RaceStarts", Value = "RaceStarts" },
               new SelectListItem { Text = "Name", Value = "Name" },
               new SelectListItem { Text = "RaceWinPerc", Value = "RaceWinPerc" },
               new SelectListItem { Text = "Podiums", Value = "Podiums" },
               new SelectListItem { Text = "PodiumPerc", Value = "PodiumPerc" },
               new SelectListItem { Text = "PointsFinish", Value = "PointsFinish" },
               new SelectListItem { Text = "PointsFinishPerc", Value = "PointsFinishPerc" },
               new SelectListItem { Text = "DNF", Value = "DNF" },
               new SelectListItem { Text = "DNFPerc", Value = "DNFPerc" },
               new SelectListItem { Text = "Poles", Value = "Poles" },
               new SelectListItem { Text = "PolePerc", Value = "PolePerc" },
               new SelectListItem { Text = "FastestLaps", Value = "FastestLaps" },
               new SelectListItem { Text = "FastestLapsPerc", Value = "FastestLapsPerc" },
               new SelectListItem { Text = "DriveroftheDay", Value = "DriveroftheDay" },
               new SelectListItem { Text = "DriveroftheDayPerc", Value = "DriveroftheDayPerc" },
               new SelectListItem { Text = "TotalPoints", Value = "TotalPoints" },
               new SelectListItem { Text = "AvgPoints", Value = "AvgPoints" },
               new SelectListItem { Text = "RaceDSQ", Value = "RaceDSQ" },
               new SelectListItem { Text = "QualyDSQ", Value = "QualyDSQ" },
           })
        </td>
        @*<td>
            //Weather
            fully wet, 90 of tyres used are wets/inters
            changeable, 50% of drivers used wets or inters
            dry, less than 10% of drivers used wets or inters
        </td>*@
        <td>
            <input type="button" id="ShowStats" value="Show me the skirt!" />
        </td>
    </tr>
</table>

<div id="stats">
   
</div>
</div>
</div>
