
@model IEnumerable<mowlds.github.io.Models.StatsModel>

<div class="StatsTable">
    <table id="StatsTable" style="border-color:black; border: solid;">
                    <caption style="font-weight: bolder ;">Stats</caption>
<colgroup>
                <col span="1" class="boldstat">

            </colgroup>
                    <tr>
                        <th>Track</th>
                        <th>Races</th>
                        <th>Wins</th>
                        <th>Win %</th>
                        <th>Podiums</th>
                        <th>Podium %</th>
                        <th>Best Finish</th>
                        <th>Worst Finish</th>
                        <th>Points Finishes</th>
                        <th>Points Finish %</th>
                        <th>DNFs</th>
                        <th>DNF %</th>
                        <th>Poles</th>
                        <th>Pole %</th>
                        <th>Fastest Laps</th>
                        <th>Fastest Laps %</th>
                        <th>Driver of the Day</th>
                        <th>Driver of the Day %</th>
                        <th>Total Points</th>
                        <th>Average Points Per Race</th>
                        <th>Race DSQs</th>
                        <th>Qualifying DSQs</th>
                    </tr>
                    @foreach (var statsModel in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.RaceStarts)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.RaceWins)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.RaceWinPerc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.Podiums)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.PodiumPerc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.BestFinish)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.WorstFinish)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.PointsFinish)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.PointsFinishPerc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.DNF)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.DNFPerc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.Poles)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.PolePerc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.FastestLaps)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.FastestLapsPerc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.DriveroftheDay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.DriveroftheDayPerc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.TotalPoints)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.AvgPoints)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.RaceDSQ)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => statsModel.QualyDSQ)
                            </td>
                        </tr>
                    }
                </table>
            </div>

